<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nikka-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Nikka-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Nikka-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Nikka-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NikkaCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB120AF51DC46F6900D3D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB120AFD1DC46F6900D3D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB120B111DC4754200D3D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB120B191DC4754300D3D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB120B2D1DC475CD00D3D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB120B701DC52DA300D3D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB120B981DC52E3D00D3D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB19206D1DC52FA7003A974C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1920841DC52FDC003A974C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBA947531DC4688B00EDEC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBA9475B1DC4688B00EDEC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBFCB4791DA9DE18009036BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBFCB4821DA9DE18009036BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
